In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
house_data.describe()

NameError: name 'house_data' is not defined

In [6]:
dt=pd.read_csv('house_data.csv')

In [7]:
dt.describe()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,...,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,5.116186e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,0.234347,7.623490,1788.319589,291.513490,...,0.007543,0.109399,0.188625,0.149706,0.186681,0.043824,0.076450,0.012449,0.027720,0.002314
std,2.500620e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,0.766382,1.105519,827.977604,442.570991,...,0.086525,0.312146,0.391220,0.356791,0.389665,0.204709,0.265722,0.110879,0.164173,0.048048
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,0.000000,8.000000,2210.000000,560.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.129575e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,10.000000,9410.000000,4820.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
dt.head(10)

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0
5,1129575.0,4,4.50,5420.0,101930.0,1.0,0,10,3890.0,1530,...,0,0,0,0,1,0,0,0,0,0
6,257500.0,3,2.25,1715.0,6819.0,2.0,0,7,1715.0,0,...,0,0,0,0,0,0,0,0,0,0
7,291850.0,3,1.50,1060.0,9711.0,1.0,0,7,1060.0,0,...,0,0,0,0,0,0,0,0,0,0
8,229500.0,3,1.00,1780.0,7470.0,1.0,0,7,1050.0,730,...,0,1,0,0,0,0,0,0,0,0
9,323000.0,3,2.50,1890.0,6560.0,2.0,0,7,1890.0,0,...,0,1,0,0,0,0,0,0,0,0

In [11]:
dt.dropna(inplace=True,axis=0,subset=['Sale_Price'])

In [12]:
dt.describe()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,...,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,5.116186e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,0.234347,7.623490,1788.319589,291.513490,...,0.007543,0.109399,0.188625,0.149706,0.186681,0.043824,0.076450,0.012449,0.027720,0.002314
std,2.500620e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,0.766382,1.105519,827.977604,442.570991,...,0.086525,0.312146,0.391220,0.356791,0.389665,0.204709,0.265722,0.110879,0.164173,0.048048
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,0.000000,8.000000,2210.000000,560.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.129575e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,10.000000,9410.000000,4820.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21608
Data columns (total 31 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale_Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   No of Times Visited                        21609 non-null  int64
 7   Overall Grade                              21609 non-null  int64
 8   Area of the House from Basement (in Sqft)  21609 non-null  float64
 9   Basement Area (in Sqft)                    21609 non-null  int64
 10  Age of House (in Years)                    21609 non-null  int64
 11  Latitude                                   21609 non-null  float64
 12  Longitude                                  21609 non-null  float64
 13  Living Area after Renovation (in Sqft)     21609 non-null  float64
 14  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 15  Years Since Renovation                     21609 non-null  int64
 16  Condition_of_the_House_Excellent           21609 non-null  int64
 17  Condition_of_the_House_Fair                21609 non-null  int64
 18  Condition_of_the_House_Good                21609 non-null  int64
 19  Condition_of_the_House_Okay                21609 non-null  int64
 20  Ever_Renovated_Yes                         21609 non-null  int64
 21  Waterfront_View_Yes                        21609 non-null  int64
 22  Zipcode_Group_Zipcode_Group_1              21609 non-null  int64
 23  Zipcode_Group_Zipcode_Group_2              21609 non-null  int64
 24  Zipcode_Group_Zipcode_Group_3              21609 non-null  int64
 25  Zipcode_Group_Zipcode_Group_4              21609 non-null  int64
 26  Zipcode_Group_Zipcode_Group_5              21609 non-null  int64
 27  Zipcode_Group_Zipcode_Group_6              21609 non-null  int64
 28  Zipcode_Group_Zipcode_Group_7              21609 non-null  int64
 29  Zipcode_Group_Zipcode_Group_8              21609 non-null  int64
 30  Zipcode_Group_Zipcode_Group_9              21609 non-null  int64
dtypes: float64(9), int64(22)
memory usage: 5.3 MB

In [14]:
data=pd.read_csv('Raw_Housing_data.csv')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        21613 non-null  object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [19]:
data.dropna(inplace=True, axis=0,subset=['Sale Price'])

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21605 non-null  float64
 5   Flat Area (in Sqft)                        21600 non-null  float64
 6   Lot Area (in Sqft)                         21600 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21606 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21608 non-null  float64
 17  Latitude                                   21608 non-null  float64
 18  Longitude                                  21608 non-null  float64
 19  Living Area after Renovation (in Sqft)     21608 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.6+ MB

In [52]:
numerical_columns=["No of Bathrooms","Flat Area (in Sqft)","Lot Area (in Sqft)"
                  
                  ,"Area of the House from Basement (in Sqft)", "Latitude",
                   "Longitude","Living Area after Renovation (in Sqft)"]

In [53]:
from sklearn.impute import SimpleImputer

In [54]:
imputer=SimpleImputer(missing_values=np.nan,strategy='median')
data[numerical_columns]=imputer.fit_transform(data[numerical_columns])

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21600 non-null  float64
 6   Lot Area (in Sqft)                         21600 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21606 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21608 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21608 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.6+ MB

In [38]:
c=['Lot Area (in sqft)','Flat Area (in sqft)','Area of the House from Basement (in sqft)','Living Area after Renovation (in sqft)']

In [40]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
data[c]=imputer.fit_transform(data[c])

NameError: name 'c' is not defined

In [55]:
columns=data["Zipcode"].values.reshape(-1,1)
columns.shape

(21609, 1)

In [62]:
column=data["Zipcode"].values.reshape(-1,1)
imputer2=SimpleImputer(missing_values=np.nan,strategy="most_frequent")
data["Zipcode"]=imputer2.fit_transform(column)

In [63]:
data.describe()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,2.160900e+04,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,4.580686e+09,5.401984e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,7.623490,1788.319589,291.513490,46.999722,84.417881,98077.940488,47.560050,-122.213875,1986.553242,12769.770790
std,2.876653e+09,3.673890e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,1.105519,827.977604,442.570991,29.373317,401.714775,53.506305,0.138556,0.140832,685.427485,27306.508841
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904931e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10084.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.6+ MB

In [66]:
data['Zipcode']=data['Zipcode'].astype('object')

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21609 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  object
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(9), int64(7), object(5)
memory usage: 3.6+ MB

In [68]:
data['No of Times Visited'].unique()

array(['None', 'Thrice', 'Four', 'Twice', 'Once'], dtype=object)

In [69]:
mapping={
    'None' : "0",
    'Once'  :"1",
    'Twice' :"2",
    'Thrice' :"3",
    'Four':"4"
}

In [70]:
data['No of Times Visited']=data['No of Times Visited'].map(mapping)

In [71]:
data['No of Times Visited'].unique()

array(['0', '3', '4', '2', '1'], dtype=object)

In [72]:
data['Ever Renovated']=np.where(data['Renovated Year']==0,'No' ,'Yes')

In [74]:
data.head(10)

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,...,1180.0,0,63,0,98178,47.5112,-122.257,1340.0,5650,No
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,...,2170.0,400,67,1991,98125,47.7210,-122.319,1690.0,7639,Yes
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,0,...,770.0,0,85,0,98028,47.7379,-122.233,2720.0,8062,No
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,...,1050.0,910,53,0,98136,47.5208,-122.393,1360.0,5000,No
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,...,1680.0,0,31,0,98074,47.6168,-122.045,1800.0,7503,No
5,7237550310,14 May 2017,1230000.0,4,4.50,5420.0,101930.0,1.0,No,0,...,3890.0,1530,17,0,98053,47.6561,-122.005,4760.0,101930,No
6,1321400060,14 June 2017,257500.0,3,2.25,1715.0,6819.0,2.0,No,0,...,1715.0,0,23,0,98003,47.3097,-122.327,2238.0,6819,No
7,2008000270,15 January 2016,291850.0,3,1.50,1060.0,9711.0,1.0,No,0,...,1060.0,0,55,0,98198,47.4095,-122.315,1650.0,9711,No
8,2414600126,15 April 2016,229500.0,3,1.00,1780.0,7470.0,1.0,No,0,...,1050.0,730,58,0,98146,47.5123,-122.337,1780.0,8113,No
9,3793500160,15 March 2016,323000.0,3,2.50,1890.0,6560.0,2.0,No,0,...,1890.0,0,15,0,98038,47.3684,-122.031,2390.0,7570,No

In [76]:
data['Purchase year']=pd.DatetimeIndex(data['Date House was Sold']).year

In [78]:
data['Year since Renovated']=np.where(data['Ever Renovated']=='Yes',abs(data['Purchase year']-data['Renovated Year']),0)

In [79]:
data.head(10)

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Purchase year,Year since Renovated
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,...,63,0,98178,47.5112,-122.257,1340.0,5650,No,2017,0
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,...,67,1991,98125,47.7210,-122.319,1690.0,7639,Yes,2017,26
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,0,...,85,0,98028,47.7379,-122.233,2720.0,8062,No,2016,0
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,...,53,0,98136,47.5208,-122.393,1360.0,5000,No,2017,0
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,...,31,0,98074,47.6168,-122.045,1800.0,7503,No,2016,0
5,7237550310,14 May 2017,1230000.0,4,4.50,5420.0,101930.0,1.0,No,0,...,17,0,98053,47.6561,-122.005,4760.0,101930,No,2017,0
6,1321400060,14 June 2017,257500.0,3,2.25,1715.0,6819.0,2.0,No,0,...,23,0,98003,47.3097,-122.327,2238.0,6819,No,2017,0
7,2008000270,15 January 2016,291850.0,3,1.50,1060.0,9711.0,1.0,No,0,...,55,0,98198,47.4095,-122.315,1650.0,9711,No,2016,0
8,2414600126,15 April 2016,229500.0,3,1.00,1780.0,7470.0,1.0,No,0,...,58,0,98146,47.5123,-122.337,1780.0,8113,No,2016,0
9,3793500160,15 March 2016,323000.0,3,2.50,1890.0,6560.0,2.0,No,0,...,15,0,98038,47.3684,-122.031,2390.0,7570,No,2016,0

In [84]:
data.drop(columns=['Date House was Sold','Renovated Year','Ever Renovated','Purchase year'],inplace=True,axis=1)

In [85]:
data.describe()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Year since Renovated
count,2.160900e+04,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,4.580686e+09,5.401984e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,7.623490,1788.319589,291.513490,46.999722,47.560050,-122.213875,1986.553242,12769.770790,0.884122
std,2.876653e+09,3.673890e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,1.105519,827.977604,442.570991,29.373317,0.138556,0.140832,685.427485,27306.508841,5.279629
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,47.155900,-122.519000,399.000000,651.000000,0.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,47.471000,-122.328000,1490.000000,5100.000000,0.000000
50%,3.904931e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,47.571800,-122.230000,1840.000000,7620.000000,0.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,47.678000,-122.125000,2360.000000,10084.000000,0.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,47.777600,-121.315000,6210.000000,871200.000000,83.000000

In [86]:
data.to_csv("transformed_data",index=False)

In [90]:
transformed_data=pd.read_csv("transformed_data")
transformed_data.head(10)

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Condition of the House,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Year since Renovated
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,Fair,7,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,Fair,7,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,Fair,6,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,Excellent,7,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,Fair,8,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,0
5,7237550310,1230000.0,4,4.50,5420.0,101930.0,1.0,No,0,Fair,10,3890.0,1530,17,98053.0,47.6561,-122.005,4760.0,101930,0
6,1321400060,257500.0,3,2.25,1715.0,6819.0,2.0,No,0,Fair,7,1715.0,0,23,98003.0,47.3097,-122.327,2238.0,6819,0
7,2008000270,291850.0,3,1.50,1060.0,9711.0,1.0,No,0,Fair,7,1060.0,0,55,98198.0,47.4095,-122.315,1650.0,9711,0
8,2414600126,229500.0,3,1.00,1780.0,7470.0,1.0,No,0,Fair,7,1050.0,730,58,98146.0,47.5123,-122.337,1780.0,8113,0
9,3793500160,323000.0,3,2.50,1890.0,6560.0,2.0,No,0,Fair,7,1890.0,0,15,98038.0,47.3684,-122.031,2390.0,7570,0

In [91]:
transformed_data['Sale Price'].corr(transformed_data['No of Bedrooms'])

0.3084632511544564